@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font-color-primary: #161616;
	--background-color-primary: #FAFAFA; 
	--shadow-color: #E2E2E2;
	--yellow-marker: #E4FC5B;
}

::selection {
	background-color: var(--yellow-marker);
}

body {
	font-family: 'Playfair Display', serif;
	background-color: var(--background-color-primary);
	color: var(--font-color-primary);
}

ul {
	list-style: none;
}

a {
	color: var(--font-color-primary);
}

.root {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-primary);
	width: 80vw;
	min-height: 100vh;
	margin: auto;
	padding: 0 40px;
	box-shadow: 0 0 50px var(--shadow-color);
}

.root > * {
	border-bottom: 1px solid var(--shadow-color);
	padding: 40px;
}

.root > *:last-child {
	border: none;
}

.header {
	text-align: center;
}

.header .title {
	font-size: 3.5em;
	font-weight: bold;
}

.header > * {
	margin-bottom: 20px;
}

.header > *:last-child {
	margin-bottom: 0;
}

.header .navigation ul li {
	display: inline;
	border-right: 1px solid var(--shadow-color);
	padding: 0 40px;
}

.header .navigation ul li:last-child {
	border-right: none;
}

.main {
	flex-grow: 1;
	padding: 0;
}

.main .article {
	padding: 40px 0;
	border-bottom: 1px solid var(--shadow-color);
}

.main .article:last-child {
	border: none
}

.article .article-header {
	text-align: center;
	margin-bottom: 20px;
}

.article .article-header .title {
	font-size: 2.5em;
	font-weight: bold;
}

.article .article-content {
	text-align: justify;
	padding: 0 40px;
}

.article-content > * {
	margin-bottom: 10px;
}

.article-content > *:last-child {
	margin-bottom: 0;
}

.footer {
	text-align: center;
}
